version: 2.1

jobs:
#   create_infrastructure: 
#     docker:
#       - image: amazon/aws-cli
#     steps:
#       - checkout
#       - run:
#           name: Create Cloudformation Stack
#           command: |
#             aws cloudformation deploy \
#               --template-file template.yml \
#               --stack-name myStack-${CIRCLE_WORKFLOW_ID:0:5} \
#               --region us-east-1

  # configure_infrastructure:
  #   docker:
  #     - image:  python:3.7-alpine3.11
  #   steps:
  #     - checkout
  #     - add_ssh_keys:
  #         fingerprints: ["78:02:1a:ed:e2:e1:ba:62:aa:b0:88:9f:57:84:13:e8"]
  #     - run:
  #         name: Install Ansible
  #         command: apk add --update ansible
  #     - run:
  #         name: Run Playbook and Configure server
  #         command: ansible-playbook -i inventory main-remote.yml

  smoke_test:
    docker:
      - image: alpine:latest
    steps:
      - run: apk add --update curl
      - run: 
          name: smoke test
            command: |
              URL="https://blog.udacity.com/"
              if curl -s --head ${URL} 
              then
                return 0
              else
                return 1
              fi
      - run:
          command: echo "Pipeline failed"
          when: on_fail

workflows:
  say-hello-workflow:
    jobs:
      # - create_infrastructure
      #- configure_infrastructure
          # requires:
          #   - create_infrastructure
      - smoke_test
